@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

img {
  max-width: 100%;
}

body {
  background-color: var(--main-background);
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  padding-bottom: 100px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 0;
}

.container {
  width: 60%;
  max-width: 960px;
  box-shadow: var(--shadow) 0px 25px 50px -12px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
}

.container header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.container header h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container header #input-search {
  width: 400px;
  font-size: 17px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid var(--grey);
  outline: none;
}

.container header #btn-search {
  width: 200px;
  font-size: 17px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  border: 2px solid var(--purple);
  transition: 0.5s ease-in-out;
}

.container header #btn-search:hover {
  background-color: var(--clean-purple);
  color: var(--white);
  border-color: var(--white);
}

.container .profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container .profile-data .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container .profile-data .info .data {
  padding: 40px;
  width: 50%;
}

.container .profile-data .info img {
  width: 50%;
  border-radius: 50%;
  border: 10px solid var(--purple);
}

.container .profile-data .info h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container .profile-data .info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.container .profile-data .info .followers {
  border-top: 3px solid var(--clean-purple);
  max-width: 150px;
  margin: 5px auto 0;
}

.container .profile-data .repositories h2 {
  margin: 60px 0 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container .profile-data .repositories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .profile-data .repositories ul li a {
  padding: 20px;
  border: 1px solid var(--grey);
  margin: 20px;
  display: block;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}

.container .profile-data .repositories ul li a:hover {
  background-color: var(--clean-purple);
  color: var(--white);
}

.container .profile-data.hide {
  display: none;
}
.container .profile-data .repositories .info-repositories span {
  font-weight: bold;
}
.container .profile-data .repositories .info-repositories .data-repositories {
  border: 2px solid var(--purple);
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: var(--clean-purple);
}
.events {
  margin-top: 50px;
  background-color: var(--events-background);
  padding: 20px;
  border-radius: 20px;
}
.events h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.events li {
  margin: 10px;
}
.events li span {
  color: var(--purple);
  font-weight: bold;
}
